<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Información de Restaurantes</title>
	<link rel="stylesheet" href="SomiaStyle1.css">
	<link rel="stylesheet" href="css/one.css">
	<link rel="stylesheet" href="css/tres.css">
	<link rel="stylesheet" href="css/bootstrap-grid.css">
	<link rel="stylesheet" href="css/bootstrap.css">
</head>
	
<body>

	<nav class="navbar navbar-light bg-light">
  		<a class="navbar-brand" href="listar.html">SOMIA</a>
	</nav>
	<div class="jumbotron">
  		<h1 class="display-4">Hello, world!</h1>
  		<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  		<hr class="my-4">
  		<p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  		<a class="btn btn-primary btn-lg" href="formReserva.html" role="button">Learn more</a>
	</div>

	<!--PiedePagina!-->
	<footer>
	   <div class="container-footer-all">
			<div class="container-body">
				<div class="colum1">
					<h1>Mas información de Somia</h1>
					<p>Queremos revolucionar la manera en la que los restaurantes interactúan con sus comensales, 
					buscando siempre enriquecer el servicio al cliente. Para que puedan buscar y hacer una reserva en 
					los restaurantes más prestigiosos a través del sistema. Los restaurantes podrán conocer y comunicarse de manera personalizada con sus clientes.</p>
				</div>
				<div class="colum2">
					<h1>Redes Sociales</h1>
					<div class="row">
						<img src="img/facebook.jpg">
						<label>Siguenos en Facebook</label>
					</div>
					<div class="row">
						<img src="img/instagram.png">
						<label>Siguenos en Instagram</label>
					</div>
				</div>
				<div class="colum3">
					<h1>Información de contacto</h1>
					<div class="row2">
						<img src="img/phone.png">
						<label>+51 932 981 987</label>
					</div>	
					<div class="row2">
						<img src="img/correo.png">
						 <label>somia@gmail.com</label>
					</div>
				</div>
			</div>
		</div>
               
		<div class="container-footer">
		   <div class="footer">
				<div class="copyright">
					© 2019 Todos los Derechos Reservados | <a href="">SOMIA</a>
				</div>
				<div class="information">
					<a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
				</div>
			</div>
		</div>
	</footer>

</body>

</html>
