<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
      
<head>
<meta charset="utf-8">
<title>CIBERTEC 2019-01</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="canonical" href="https://ionicons.com/">
</head>
<body>

<nav class="navbar navbar-light bg-light">
	<a class="navbar-brand" href="listar.html">SOMIA</a>
</nav>

<div class="container mt-5">
	<form th:action="@{/restaurant/porNombre}" th:object="${restaurantname}" method="GET" class="mb-3">
		<!--input type="text" id="campoBusqueda" name="campoBusqueda" /-->
		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1"><ion-icon name="search"></ion-icon></span>
			</div>
			<input id="restaurantname" name="restaurantname" type="text" class="form-control" placeholder="Search..." aria-label="Username" aria-describedby="basic-addon1">
		</div>
		<input type="submit" class="btn btn-primary" value="Buscar" hidden>
	</form>

	<div class="">
		<table id="tabla" class="table table-striped table-hover">
			<thead class="thead-dark">
			<tr>
				<td class="text-center">Restaurante</td>
				<td class="text-center">Tipo Comida</td>
				<td class="text-center">Distrito</td>
				<td class="text-center">Precio Promedio</td>
			</tr>
			</thead>
			<tbody>
			<tr th:each="restaurant : ${restaurant}">
				<td class="text-center" th:text="${restaurant.restaurantid}"></td>
				<td th:text="${restaurant.restaurantname}" class="text-center"></td>
				<td th:text="${restaurant.type}" class="text-center"></td>
				<td th:text="${restaurant.district}" class="text-center"></td>
				<td th:text="${restaurant.preciopromedio}" class="text-center"></td>
				<td class="text-center">
					<a th:href="@{/producto/editar/{idProducto}(idProducto=${producto.id})}"><ion-icon name="create"></ion-icon></a>
					<a href="#" class="eliminar" data-toggle="modal" data-target="#exampleModal" th:data-href="@{/producto/eliminar/{idProducto}(idProducto=${producto.id})}"><ion-icon name="close"></ion-icon></a>
				</td>
			</tr>
			</tbody>
		</table>
	</div>
</div>

<br /><br /><br />


<!--PiedePagina!-->
<footer>
	<div class="container-footer-all">
		<div class="container-body">
			<div class="colum1">
				<h1>Mas información de Somia</h1>
				<p>Queremos revolucionar la manera en la que los restaurantes interactúan con sus comensales,
					buscando siempre enriquecer el servicio al cliente. Para que puedan buscar y hacer una reserva en
					los restaurantes más prestigiosos a través del sistema. Los restaurantes podrán conocer y comunicarse de manera personalizada con sus clientes.</p>
			</div>
			<div class="colum2">
				<h1>Redes Sociales</h1>
				<div class="row">
					<img src="img/facebook.jpg">
					<label>Siguenos en Facebook</label>
				</div>
				<div class="row">
					<img src="img/instagram.png">
					<label>Siguenos en Instagram</label>
				</div>
			</div>
			<div class="colum3">
				<h1>Información de contacto</h1>
				<div class="row2">
					<img src="img/phone.png">
					<label>+51 932 981 987</label>
				</div>
				<div class="row2">
					<img src="img/correo.png">
					<label>somia@gmail.com</label>
				</div>
			</div>
		</div>
	</div>

	<div class="container-footer">
		<div class="footer">
			<div class="copyright">
				© 2019 Todos los Derechos Reservados | <a href="">SOMIA</a>
			</div>
			<div class="information">
				<a href="">Privacion y Politica</a> | <a href="">Terminos y Condiciones</a>
			</div>
		</div>
	</div>
</footer>

<script src="js/one.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script>
<script>
	$('#tabla').on('click','.eliminar', function(){
		$('#guardar_modal').attr('href', $(this).data('href'))
	})
</script>
</body>
</html>