<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Información de Restaurantes</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" href="templates/restaurant/SomiaStyle1.css">
	<link rel="stylesheet" href="templates/restaurant/css/one.css">
	<link rel="stylesheet" href="templates/restaurant/css/tres.css">
	<link rel="stylesheet" href="templates/restaurant/css/bootstrap-grid.css">
	<link rel="stylesheet" href="templates/restaurant/css/bootstrap.css">
</head>

<body>
<div class="container mt-5">
	<h2 th:text="${restaurantx.restaurantname}" > </h2>
	<hr/>

	<form th:action="@{/restaurant/reservar}"  th:object="${restaurantx}" method="POST">

		<table style="margin: 0 auto;">

			<tr><td th:text="${restaurantx.description}" class="text-center"></td></tr>
			<tr><td th:text="${restaurantx.type}" class="text-center"></td></tr>
			<tr><td th:text="${restaurantx.district}" class="text-center"></td></tr>
			<tr><td th:text="${restaurantx.atencion}" class="text-center"></td></tr>
			<tr><td th:text="${restaurantx.sitioweb}" class="text-center"></td></tr>

			<tr>
				<td>
					<a th:href="@{'/form'}" class="btn btn-primary mt-2" role="button">RESERVA AHORA!</a>
				</td>
			</tr>

		</table>

	</form>
</div>
</body>

</html>
